<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Autour+One&family=Outfit:wght@100&family=Wellfleet&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="./Web/Images/logo.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./Web/Styles/styles.css">
    <link rel="stylesheet" href="./Web/Styles/index.css">
</head>

<body>
    <div id="app-login">
        <div class="containerIndex">
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid gap-3">
                        <a href="#"><img class="logoHeader" src="./Web/Images/logo.jpeg" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNav">
                            <ul class="navbar-nav">
                                <!-- <li class="nav-item ">
                                    <a class="nav-link" aria-current="page"
                                        href="./Web/Pages/accounts.html">Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Loans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Transactions</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white; font-size: 22px;"><i
                                            class="fa-solid fa-user-plus" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white; font-size: 22px;"
                                        @click.prevent="signOut()"><i class="fas fa-sign-out-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                <div>
                    <div class="modal fade modal-transition" id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-background"></div>
                                <div class="contenedor-button">
                                    <button type="button" class="btn-close p-3" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-header d-flex align-items-center justify-content-center p-0 pt-0">
                                    <img src="./Web/Images/logorecortado.png" alt="Logo de Agile Bank" class="logo">
                                </div>
                                <div class="modal-body">
                                    <form class="pt-0 p-5">
                                        <div class="mb-3 d-flex flex-column ">
                                            <label for="exampleInputName1" class="form-label">Name</label>
                                            <input type="Name" class="inputs input-line" id="exampleInputName1"
                                                aria-describedby="NameHelp" v-model="inputName">
                                        </div>

                                        <div class="mb-3 d-flex flex-column ">
                                            <label for="exampleInputLastName1" class="form-label">LastName</label>
                                            <input type="LastName" class="input-line" id="exampleInputLastName1"
                                                aria-describedby="LastNameHelp" v-model="inputLastName">
                                        </div>
                                        <div class="mb-3 d-flex flex-column ">
                                            <label for="exampleInputEmail1" class="form-label">Email</label>
                                            <input type="Email" class=" input-line m-0" id="exampleInputEmail1"
                                                v-model="inputEmail">
                                        </div>
                                        <div class="mb-3 d-flex flex-column ">
                                            <label for="exampleInputPassword1" class="form-label  mb-2">Password</label>
                                            <input type="password" class=" input-line" id="exampleInputPassword1"
                                                v-model="inputPassword">
                                        </div>
                                        <div class="d-flex flex-column align-items-center mb-2">
                                            <button class="button-register mb-3 "
                                                @click.prevent="register()">Register</button>
                                            <a class="a-login" href="#" data-bs-toggle="modal"
                                                data-bs-target="#loginModal">Already have an
                                                account?<span class="login-link"> Sing in</span></a>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="modal fade modal-transition" id="loginModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog tamañomodal">
                                <div class="modal-content ">
                                    <div class="contenedor-button">
                                        <button type="button" class="btn-close p-3" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-header d-flex align-items-center justify-content-center p-0">
                                        <img src="./Web/Images/logorecortado.png" alt="Logo de Agile Bank" class="logo">
                                    </div>
                                    <div class="modal-body">
                                        <form class="pt-0 p-5">
                                            <div class="mb-3 d-flex flex-column">
                                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                <input type="email" class="input-line" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" v-model="loginEmail">
                                                <span><i class="fas fa-envelope icono"></i></span>
                                                <div id="emailHelp" class="form-text"></div>
                                            </div>
                                            <div class="mb-3 d-flex flex-column">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input type="password" class="input-line" id="exampleInputPassword1"
                                                    v-model="loginPassword">
                                                <span><i class="fas fa-lock iconodos"></i></span>
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-2">
                                                <button type="submit" @click.prevent="login()"
                                                    class="button-register mb-3">Sing
                                                    In</button>
                                                <a class="login-link" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">Register</i>
                                                </a>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="carouselExample" class="carousel slide">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./Web/Images/indexagilebank.avif" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./Web/Images/indexagilebank2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./Web/Images/imagencarru.avif" class="d-block w-100" alt="...">
                        </div>
                    </div>


                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div> -->
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./Web/Images/imagencarrusellila.avif"
                                class="d-block w-100  mx-auto object-fit-cover imagencarruseluno" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./Web/Images/indexagilebank2.jpg" class="d-block w-100  mx-auto object-fit-cover"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./Web/Images/Electric-Banner-Web-IIv2.im1697284128778im.avif"
                                class="d-block w-100  mx-auto object-fit-cover  imagencarrusel" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


                <div class="content align-items-center justify-content-center p-4 div-text">
                    <p class="descripcion p-0">"We have different credit options for you, <span
                            style="color: #f8cd51;;">request now the one
                            that best suits your needs."</span></p>
                    <div class="mb-2">
                        <p class="text-intro p-0">Apply for approvals and disbursements instantly.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-5 mb-2">
                        <div>
                            <button type="button" class="boton-credito" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Apply for credit
                            </button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <i class="fas fa-file" style="color: white;"></i>
                            <p class="m-0 p-0 Terms">Terms and Conditions</p>
                        </div>
                    </div>
                </div>
                <div class="div-textointro">
                    <h2 class="loanstexto">What do you want to do today? <i
                            class="fas fa-angle-right thick-arrow rotate-arrow"></i><span class="spanBA"> Bank
                            Agile</span>
                    </h2>
                </div>

                <div class="d-flex align-items-center justify-content-center flex-column w-100 my-3 container-images">
                    <div class="d-flex flex-column flex-md-row divs-contenedoresprin">
                        <div
                            class="d-flex flex-column p-0 align-items-center justify-content-center gap-2 divs my-3 p-3 flex-lg-row">
                            <img class="imagenesindex" src="./Web/Images/banco-carru.png" alt="imagenindex">
                            <h2 class="text-index">Manage your money in the best way with Bank Agile, make transactions
                                and
                                request loans instantly!!</h2>
                        </div>
                        <div
                            class="p-0 d-flex flex-column align-items-center justify-content-center divs gap-2 my-3 p-3 flex-lg-row">
                            <img class="imagenesindex" src="./Web/Images/tarjetas.jpeg" alt="">
                            <h2 class="text-index">We have different credit options for you, choose the one that best
                                suits
                                your needs....</h2>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row divs-contenedoresprin">
                        <div
                            class="p-0 d-flex flex-column align-items-center justify-content-center divs gap-2 my-3  p-3 flex-lg-row">
                            <img class="imagenesindex" src="./Web/Images/prestamo automotriz.avif" alt="">
                            <h2 class="text-index">Enjoy all the benefits of our bank, we take care of your money, enjoy
                                what you like most!</h2>
                        </div>
                        <div
                            class="p-0 d-flex flex-column align-items-center justify-content-center divs gap-2 my-3  p-3 flex-lg-row">
                            <img class="imagenesindex" src="./Web/Images/prestamos-personales.im1697560136689im.avif"
                                alt="">
                            <h2 class="text-index">Make transactions instantly, to other accounts or your own accounts!
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center mb-5 flex-wrap div-iconos">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="logo" src="./Web/Images/miscuentas.jpg" alt="logocuentas">
                        <p class="imagenesneed">I need an account</p>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="logo" src="./Web/Images/mistrajetas.png" alt="">
                        <p class="imagenesneed"> I need a card</p>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="logo" src="./Web/Images/mistransa.jpg" alt="logoprestamos">
                        <p class="imagenesneed">I want a loan</p>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="logo" src="./Web/Images/imagden.png" alt="">
                        <p class="imagenesneed">Transactions</p>
                    </div>
                </div>

            </main>
        </div>
        <footer>
            <div class="d-flex flex-column align-items-center pt-3 pb-3 m-0 div-container">
                <div class="d-flex flex-column items-footer">
                    <p class="titulo-banco-footer m-0 pb-3 titulofooter">Agile Bank</p>
                    <ul class="info-footer" style="list-style-type: none;">
                        <li>Security</li>
                        <li>legal warning</li>
                        <li>Policies</li>
                        <li>Product regulations</li>
                    </ul>
                    <p class="m-0 pb-3 pDos">© 2023 Banco Agile Colombia S.A</p>
                </div>
                <div class="d-flex gap-3 div-redes">
                    <i class="bi bi-facebook" style="font-size: 30px;"></i>
                    <i class="bi bi-whatsapp" style="font-size: 30px;"></i>
                    <i class="bi bi-instagram" style="font-size: 30px;"></i>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="./Web/script/index.js"></script> -->
    <script src="./Web/script/login.js"></script>
</body>

</html>