table {
    width: 80%;
    border-collapse: collapse;
}

 td {
    border: 2px solid white;
    padding: 8px;
    text-align: left;
    font-size:0.6rem;
}
.cuerpo{
    background-color: rgba(173, 165, 152, 0.295);
    font-weight: 500;
    color:#11243B;
}

th{
    border:2px solid white;
    padding: 8px;
   
    font-size:0.6rem;  
}
.encabezados{
    font-weight: 800;
    color: white !important;
    background-color: #11243B !important; 
    text-align: center;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
} */
.card-text{
    font-size:1rem;
}
@media (min-width: 768px) {
   th,td{
    font-size: 1rem;
   }
   .card-text{
    font-size:1.3rem;
}
.card{
    width: 22rem !important;
}
    }