/* .card{
    height: 12rem;
    background-color: rgb(241, 236, 236) !important;
} */
.navbar-nav{
    align-items: center;
    gap: 2rem;
}
.titulo-banco{
    color: #71B0FF !important;
    font-weight: 800 !important;
    margin: 1rem;
}
.card{
    border-radius: 10px;
    border: 1px solid black;
}
.card-text{
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
}
.bienvenida-usuario{
    color: #11243B;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
}
.encabezados{
    color: #71B0FF !important;
    font-weight: 800;
    color: white !important;
    background-color: #11243B; 
    text-align: center;
}

.cuerpo{
    font-weight: 500;
    color:#11243B;
  background-color: #e5e3e394;
}
table {
    border-collapse: collapse;
    background-color: white;
    width: 40rem;
}

.encabezados th {
    border: 2px solid white; /* Establece el borde de las celdas encabezadas */
    padding: 8px; /* Añade espacio alrededor del contenido de las celdas encabezadas */
}

.cuerpo td {
    border: 2px solid white; /* Establece el borde de las celdas del cuerpo de la tabla */
    padding: 8px; /* Añade espacio alrededor del contenido de las celdas del cuerpo de la tabla */
    /* border-radius: 2rem; */
}

@media (min-width: 768px) {
  .div-cardstabla{
    flex-direction: row !important;
    justify-content: space-around;
  }
.loanstitle{
    padding-bottom: 2rem;
}

}
.logocuenta{
    width:2rem;
}
.logocuenta:hover{
 color: white;
 transform: scale(1.1);
 transition: transform 0.5s;
}
.createaccount{
    font-size: 14px;
    color: #c5c2c2  !important;
    font-weight: 600;
    cursor: pointer;
}
.createaccount:hover{
    color: white !important;
}
.create{
    text-decoration: none;
}