table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size:0.6rem;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.card-text{
    font-size:1rem;
}
@media (min-width: 768px) {
   th,td{
    font-size: 1rem;
   }
   .card-text{
    font-size:1.3rem;
}
.card{
    width: 22rem !important;
}
    }