* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagentarjetas {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.bienvenida-usuario {
  color: #11243B;
  font-weight: 800;
  text-align: center;
  font-size: 1.5rem;
}

.flip-card {
  background-color: transparent;
  width: 220px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: bold;
  font-size: .6em;
  top: 8.3em;
  left: 1.6em;
}

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px);
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #ff0000;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #ff0000;
  transform: rotateY(180deg);
}

/* //model card */
.card-model {
  width: 300px;
  height: 200px;
  /* background-image: url("../Images/goldBg.jpg"); */
  /* background-size: cover; */
  border: 3px;
  border-style: outset;
  border-radius: 1rem;

}

.contact-less {
  width: 2rem;
  height: 2rem;
}

.card-logo {
  width: 5rem;
  height: 2rem;
}

.card-chip {
  height: 3rem;
  width: 3rem;
  transform: rotate(90deg);
}

.holo {
  height: 3rem;
  width: 4.5rem;
  border-radius: 1rem;
}

.expired {
  font-size: 0.7rem;
}

.fondotitulo {
  background-color: #cbcdce3b;
  height: 15vh !important;
}

.logocard {
  width: 3rem;
  color: red;
  rotate: 90;
}

.main-data {
  font-weight: 500;
  color: black;
  text-shadow: 1.5px 1.5px 1.5px rgb(110, 110, 110);
  text-shadow: 1px 1px rgb(128, 127, 127), -1px -1px #333;
}

.textCredit {
  align-items: center !important;
  text-align: center !important;
  margin: 2rem;
  color: #1973b8;
  font-weight: lighter
}

.textDebit {
  align-items: center !important;
  text-align: center !important;
  margin: 2rem;
  color: #1f75dd;

  font-weight: lighter
}


.card-date {
  font-size: 0.8rem;
}

.silver-bg {
  background-image: url(../Images/silverBg.jpg);
  background-size: cover;
}

.gold-bg {
  background-image: url(../Images/goldBg.jpg);
  background-size: cover;
}

.titanium-bg {
  background-image: url(../Images/platinumBg.jpg);
  background-size: cover;
}

.expired-card-silver {
  background-image: url(../Images/expired-stamp-png.png);
  /* background-image: url("../Images/expired-card.jpg"); */
  background-size: cover;
  filter: sepia(0.7);
  /* filter: grayscale(30%);
  filter: saturate(150%) */
}