*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-background {
    background-image: url("../Images/mis-transa.jpg"); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la URL de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    height: 100%; /* Ajusta la altura del contenedor según tus necesidades */
    position: absolute; /* Asegura que el contenedor se superponga a otros elementos */
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    z-index: -1; /* Coloca el contenedor detrás del contenido del modal */
}
.containerIndex{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: #11243B;
}
.logoHeader{
    height: 4rem;
}
.nav-link{
    color: white ;
    font-weight: 800;
    font-size: 20px;
}
.nav-link:hover{
    color: white;
}
footer{
    color: white;
    background-color: #11243B;
}
.titulo-banco-footer{
    color: #71B0FF ;
    font-weight: 800 ;
    font-size: 1.2rem;
}
.info-footer{
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
p:hover{
        color: #1c314b;
}
i:hover{
        color: #1973b8;  
}
@media (min-width: 768px) {
.info-footer{
display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.titulo-banco-footer{
    padding-bottom: 2rem !important;
}
p{
    padding-left: 2rem;
}
.pDos{
padding-bottom: 3rem;
}
.div-container{
    flex-direction: row !important;
    justify-content: space-between;
    padding-right: 2rem;
    align-items: start !important;
margin: 2rem 0rem;
}
.logoHeader{
height: 5rem;
}
}.input-with-icon {
    position: relative !important; /* Posición relativa para que el ícono esté dentro del input */
}

.input-with-icon i {
    position: absolute !important; /* Posición absoluta para el ícono */
    top: 50%; /* Alinea verticalmente al centro */
    transform: translateY(-50%); /* Alinea verticalmente al centro */
    right: 10px; /* Ajusta el espacio a la derecha del ícono */
    color: #888; /* Color del ícono (puedes personalizarlo) */
}

.input-with-icon input {
    padding-right: 30px; /* Ajusta el espacio a la derecha del input para acomodar el ícono */
}
.login-link {
    color: #1f518d !important; 
   font-weight: 800;
    text-decoration: none !important; /* Quita la línea debajo del enlace */

}
.a-login{
    text-decoration: none;
    color: black;
    font-weight: 600;
}    
                              
.button-register {
    background-color: #ff004c !important; /* Color de fondo */
    background-color: #11243B !important;
    color: #fff; /* Color del texto */
    font-weight: 500;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno (ajusta según tu preferencia) */
    border-radius: 5px; /* Bordes redondeados (ajusta según tu preferencia) */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente (ajusta según tu preferencia) */
    width: 12rem;
}

/* Estilos para cambiar el color al pasar el mouse sobre el botón */
.register-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
.login-link:hover{
   color: red; 
}
.form-label{
    color: #9c9b9bce;
    font-weight: 600;
}
.btn-close{
color: #11243B  !important;
}
