*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-background {
    background-image: url("../Images/mis-transa.jpg"); 
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%; 
    position: absolute;
    width: 100%; 
    z-index: -1; 
}
.containerIndex{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: #11243B;
}
.logoHeader{
    height: 4rem;
}
.nav-link{
    color: white ;
    font-weight: 800;
    font-size: 20px;
}
.nav-link:hover{
    color: white;
}
footer{
    color: white;
    background-color: #11243B;
}
.titulo-banco-footer{
    color: #71B0FF ;
    font-weight: 800 ;
    font-size: 1.2rem;
}
.info-footer{
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
p:hover{
        color: #1c314b;
}
i:hover{
        color: #1973b8;  
}
@media (min-width: 768px) {
.info-footer{
display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.titulo-banco-footer{
    padding-bottom: 2rem !important;
}
p{
    padding-left: 2rem;
}
.pDos{
padding-bottom: 3rem;
}
.div-container{
    flex-direction: row !important;
    justify-content: space-between;
    padding-right: 2rem;
    align-items: start !important;
margin: 2rem 0rem;
}
.logoHeader{
height: 5rem;
}
}
.swal2-title{
    font-family: sans-serif; 
    font-weight: 100;
} 
.swal2-text{
    font-family: sans-serif; 
    font-weight: 100;
   font-size: 1rem;
} 
.swal2-popup {
    font-size: 10px; 
    color: #11243B;
    padding: 10px; 
   width: 18rem; 
    height: 10rem;
    font-weight: 600;
}
.custom-swal-text {
    font-size: 20px; /* Cambia el tamaño de fuente según tus preferencias */
}







