header{
    
    background-color: #142d4c !important;
    background-color: #11243B !important;
}

.navbar{
height: 5rem;

}

.nav-link{
    color: white ;
    font-weight: 800;
    font-size: 20px;

}

a{
    text-decoration: underline;
}

footer{
    color: white;
    background-color: #11243B !important;
}

body{
    background-color: #dedfe067;
    border: white
}
.titulo-banco-footer{
    color: #71B0FF !important;
    font-weight: 800 !important;
    font-size: 2rem;
}
.info-footer{
font-size: 20px;
font-weight: 800;
padding: 0;
}

.items-footer{
   display: flex;
flex-direction: column;
gap: 3rem;
}
/* /////////////////////////// */
.carousel-inner{
    height: 27rem;
    object-fit: cover;
    width: 50%
}

#carouselExample {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
}

.carousel-inner {
    width: 100%;
}

.content-pane {
    background-color: #181744; /* Fondo morado */
    padding: 20px;
    box-sizing: border-box;
    color: #fff; /* Texto en color blanco */
}

.logo{
    width: 8rem;
}